//
//  Config.xcconfig
//  Practice_Config
//
//  Created by 심현석 on 2023/07/11.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

GOOGLE_CLIENT_ID = "445750195734-da9230k2r5min42eioscrp2uibiei6ch.apps.googleusercontent.com"
GOOGLE_CLIENT_ID_SCHEME = "com.googleusercontent.apps.445750195734-da9230k2r5min42eioscrp2uibiei6ch"
